{% extends "base.html" %}
{% load bootstrap3 %}
{% block head_title %}Player{% endblock head_title %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}

<div class="panel-body well">
    <div class="row">
        Player List:
        <div class="col-md-4">
            <table class="table table-bordered table-hover table-striped">
                {% for player in player_list %}
                    <tr>
                        {% url 'player_update' pk=player.pk as player_update_url %}
                        <td><a href="{{ player_update_url }}">{{ player.pk }}</a></td>
                        <td>{{ player.player_id}}</td>
                        <td>{{ player.name}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock content %}